@media screen and (max-width: 960px) {
  .dropDownBox i {
    display: block;
    position: fixed;
    font-size: 38px;
    background-image: radial-gradient(white, var(--gold));
    color: white;
    right: 5%;
    top: 5%;
    z-index: 10;
  }

  .dropDownNavBox {
    position: fixed;
    display: inline-flex;
    flex-direction: column;
    right: 7%;
    top: 7%;
    z-index: 10;
  }
  .dropDownNavBox a {
    padding: 1rem;
    font-size: 2rem;
    color: black;
    text-decoration: none;
    border: 3px solid black;
    border-radius: 15%;
    background-image: radial-gradient(white, var(--gold));
    text-align: center;
  }
  .dropDownNavBox a:active {
    background-image: radial-gradient(black 30%, white);
    color:white;
  }
}
