.navigation {
  position: fixed;
  height: 100%;
  display: flex;
  flex-direction: column;
  left: 0;
  top: 0;
  width: fit-content;
  background-color: var(--dark-gray);
  text-align: center;
  border-right: 1px solid white;
}
.logoBox {
  height: fit-content;
  padding: 2rem 0 3rem 0;

  border-radius: 60%;

  border-bottom: 3px solid var(--purple);
}
.logo {
  min-width: 3rem;
  max-width: 5rem;
  background-image: radial-gradient(white, var(--gold));
  border-radius: 100%;
}
.dividerTop {
  background-color: var(--gold);
  height: 0.3rem;
  width: 80%;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5rem;
}
.dividerBottom {
  background-color: var(--gold);
  height: 0.3rem;
  width: 80%;
  margin-top: 5rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
}

.link {
  font-size: 2rem;
  text-decoration: none;
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  padding: 0.3rem 1rem;
}
.activeLink {
  background-image: radial-gradient(white, var(--gold));
  color: black;
  font-size: 2rem;
  text-decoration: none;

  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  padding: 0.3rem 1rem;
}
.link:hover {
  color: white;

  background-image: radial-gradient(black, white);
}

.emblemsBox {
  height: fit-content;
  padding: 4rem 0 1rem 0;

  border-radius: 50%;

  border-top: 3px solid var(--purple);
}
.linkedin {
  color: #0e76a8;
  font-size: 1.2rem;
  text-shadow: 0.5px 0.5px white;
}
.github {
  font-size: 1.2rem;
  color: white;
  text-shadow: 0.5px 0.5px white;
}

.navigation i:hover {
  color: white;
  text-shadow: 2px 2px black;
}

@media screen and (max-width: 960px) {
  .link {
    display: none;
  }
  .logo {
    margin: 0;
  }
}
