/* Styles for the container of each project */
.projectContainer {
    padding: 1.5rem 1rem;
    font-size: 1.25rem;
    color: white;
    /* Create a radial gradient background */
    background: radial-gradient(ellipse at top, var(--dark-gray) 25%, #090a0f 90%);
    border: 1px solid var(--gold);
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    min-width: 100%;

    height: auto;
  }
  .projectContainer p {
    text-align: center;
  }
  /* Styles for the project links */
  .projectLinks {
    margin-bottom: 1rem;
  }
  
  .projectContainer a {
    margin: 0 1rem;
    color: var(--light-yellow);
 
  }
  
  /* Styles for the "Read More" and "Read Less" buttons */
  .showMoreButton,
  .showLessButton {
    border: none;
    background: none;
    color: rgb(241, 240, 151);
    font-size: 1rem;
  }