
.projectContainer {  

  padding: 1.5rem 1rem;
  font-size: 1.25rem;
  color: white;
  background: radial-gradient(
    ellipse at top,
    var(--dark-gray) 45%,
    #090a0f 70%
  );
  border: 2px solid var(--gold);
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.projectLinks {
  margin-bottom: 1rem;
}

.projectLinks a {
  margin: 0 1rem;
  color: rgb(241, 240, 151);
}
.showMoreButton,
.showLessButton {
  border: none;
  background: none;
  color: rgb(241, 240, 151);
  font-size: 1rem;
}

