.carouselContainer {
  max-width: 90%;
  height: 100%;
  margin-bottom: 3rem;


}

.carousel img {
  max-height: 100%;
  width: 100%;
  object-fit: contain;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-top: 1px solid black;
}
