.workDetails {
  max-width: 1200px;
  width: 85vw;
  margin: 0 auto;
  padding: 3rem 2rem;
  background: radial-gradient(
    ellipse at top,
    var(--dark-gray) 25%,
    #090a0f 90%
  );
  border: 1px solid var(--gold);
}

.workDetails img {
  max-width: 1200px;
  width: 100%;
}

.workLinks {
  margin-bottom: 1rem;
  text-align: center;
}
.workLinks a {
  font-size: 22px;
  color: var(--light-yellow);
  padding: 2rem;
}
.workLinks a:hover {
  color: var(--mustard-yellow);
}

.description {
  text-align: center;
}
.description p {
  color: white;
  font-size: 20px;
  padding-top: 0.5rem;
}
.description button {
  color: var(--light-yellow);
  background-color: transparent;
  border: none;
}

.description button:hover {
  color: var(--mustard-yellow);
}
.divBarGold {
  width: 35vw;
  background-color: var(--gold);
  height: 0.15rem;
  margin: 2rem auto;
}
.divBarBlue {
  width: 50vw;
  background-color: var(--ultra-dark-blue);
  height: 0.5rem;
  margin: 4rem auto 2rem;
}

@media screen and (max-width: 800px) {
  .divBar {
    width: 60vw;
  }
}
