.mySkills {
  font-family: "Semibold";

  margin: 3rem auto;
  width: 60%;
}

.mySkills h2 {
  text-align: center;
  padding: 10px;
  color: black;
  box-sizing: border-box;
  background-image: radial-gradient(white, var(--gold));
  font-size: 4rem;
  border: 3px solid black;
}
.mySkillsList {
  white-space: inherit;
  padding: 1.5rem 3rem;
  font-size: 20px;
  color: white;
  background-color: var(--dark-gray);
  border: 3px solid var(--gold);
}

.mySkills li {
  padding-left: 1rem;
}
@media screen and (max-width: 800px) {
  .mySkills {
    width: 95%;

  }
}
