.mySkills {
  font-family: "Semibold";

  margin: 3rem 0 0 27% ;
  width: 60%;
}


.mySkillsList {
  white-space: inherit;
  padding: 1.5rem 3rem;
  font-size: 20px;
  color: white;
  background-color: var(--dark-gray);
  border: 3px solid var(--gold);
}

.mySkills li {
  padding-left: 1rem;
}
@media screen and (max-width: 800px) {
  .mySkills {
    width: 95%;
    margin: 3rem auto;
  }
}
