.mySkills {
  font-family: "Semibold";
  margin: 6rem 0 0 25%;
  width: 60%;
}

.mySkillsList {
  padding: 1.5rem 3rem;
  font-size: 1.25rem;
  color: white;
  background-color: var(--dark-gray);
  border: 3px solid var(--gold);
}

.mySkills li {
  padding-left: 1rem;
}

@media screen and (max-width: 800px) {
  .mySkills {
    width: 95%;
    margin: 6rem auto;
  }
}
