.nameBanner {
  margin-top: 10%;
  text-align: center;
}
.nameBanner span {
  padding: 0.8rem;
  box-sizing: border-box;
  line-height: 10rem;
  border-radius: 7%;
  font-family: "Semibold";
  color: var(--gold);
  text-shadow: 3px 3px white;
  font-size: 6rem;
}

.aaron::before {
  content: "A.";
  display: inline-block;
  color: white;
  text-shadow: 3px 3px var(--gold);
}

.aaron:hover::before {
  content: "Aaron";
  color: white;
}

.selfImage img {
  width: 300px;
  height: auto;
  max-height: 100%;
  border: 3px solid var(--gold);
  border-radius: 50%;
  right: 5%;
  top: 5%;
  position: absolute;
  padding: 1rem 1rem 0 1rem;

  background-color: var(--dark-gray);
}

@media screen and (max-width: 800px) {
  .selfImage {
    text-align: center;
  }
  .selfImage img {
    position: relative;
    right: 0;
    margin-top: 1rem;
  }
  .nameBanner {
    margin-top: 0
  }
}
