.homePage {
  font-family: "Semibold";
  padding: 6rem 5% 0 15%;
  height: fit-content;
  max-height: 100vh;
  overflow: auto;
}

.nameBanner {
  text-align: center;
  margin: 2rem 0 3rem;
}

.nameBanner span {
  font-size: 5rem;
  line-height: 1.2;
  color: var(--gold);
  text-shadow: 3px 3px white;
  box-sizing: border-box;
}

.nameBanner h4 {
  color: white;
  font-size: 2rem;
  text-shadow: 1px 1px var(--gold);
}

.aaron::before {
  content: "A.";
  display: inline-block;
  color: white;
  text-shadow: 3px 3px var(--gold);
}

.aaron:hover::before {
  content: "Aaron";
}

.selfImage {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

.selfImage img {
  width: 17.5rem;
  height: auto;
  max-height: 100%;
  border: 3px solid var(--gold);
  border-radius: 50%;
  padding: 1rem 1rem 0 1rem;
  background-color: var(--dark-gray);
}

@media screen and (max-width: 800px) {
  .homePage {
    padding: 3rem 0.5rem 5rem;
    overflow: auto;
  }
  
  .nameBanner {
    margin: 1rem 0 2rem;
  }

  .selfImage {
    margin-bottom: 1.5rem;
  }

  .nameBanner h4 {
    font-size: 1.5rem;
  }

  .nameBanner span {
    font-size: 3rem;
    line-height: 1.1;
  }
}