.nameBanner {
  text-align: center;
}

.nameBanner span {
  font-size: 5rem;
  line-height: 1.2;
  color: var(--gold);
  text-shadow: 3px 3px white;
  box-sizing: border-box;
}

.nameBanner h4 {
  color: white;
  font-size: 2rem;
  text-shadow: 1px 1px var(--gold);
}

.aaron::before {
  content: "A.";
  display: inline-block;
  color: white;
  text-shadow: 3px 3px var(--gold);
}

.aaron:hover::before {
  content: "Aaron";
}

.selfImage {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

.selfImage img {
  width: 22.5rem;
  height: auto;
  max-height: 100%;
  border: 3px solid var(--gold);
  border-radius: 50%;
  padding: 1rem 1rem 0 1rem;
  background: radial-gradient(ellipse at bottom, var(--dark-gray) 40%, var(--ultra-dark-blue) 70%);
}

@media screen and (max-width: 800px) {
  .selfImage {
    margin-bottom: 1.5rem;
  }
  .selfImage img {
    width: 17.5rem;
  }

  .nameBanner span {
    font-size: 4.5rem;
    line-height: 1.1;
  }
  .nameBanner h4 {
    font-size: 1.5rem;
    padding-top: 3.5rem;
  }
}
