.backgroundPhoto {
  z-index: -9;
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 30%;
  right: 0;
  bottom: 0;
  left: 30%;

  background-image: url(../../resources/SelfPhotoBaWTransparent.png);
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@media screen and (max-width: 960px) {
  .backgroundPhoto {
    display: none;
  }
}
