.contactMePage {
  text-align: center;
  margin: 6rem 0 0 27% ;
  width: 60%;
  font-family: "Semibold";
}

@media screen and (max-width: 800px) {
  .contactMePage {

    width: 95%;
    margin: 6rem auto;

  }
}
