.contactMePage {
  font-family: "Semibold";
  margin: 6rem 0 0 25%;
  text-align: center;
  width: 60%;
}

@media screen and (max-width: 800px) {
  .contactMePage {

    width: 95%;
    margin: 6rem auto;

  }
}
