.contactMePage {
  font-family: "Semibold";
  padding: 6rem 5% 0 15%;
  text-align: center;
  width: 100%;
  max-width: 100%;
  height: fit-content;
  max-height: 100vh;
  overflow: scroll;
}

@media screen and (max-width: 800px) {
  .contactMePage {
    padding: 5rem .5rem .5rem;
    margin: 0 auto;
    overflow: scroll;
  }
}
