.nameBanner {
  margin-top: 10%;
  margin-left: 20%;
}
.nameBanner h2 span {
  padding: 0.8rem;
  box-sizing: border-box;
  line-height: 10rem;
  border-radius: 7%;
  font-family: "Semibold";
color: var(--gold);
text-shadow: 3px 3px white;
  font-size: 6rem;
}

.aaron::before {
  content: "A.";
  display: inline-block;
  color: white;
  text-shadow: 3px 3px var(--gold);
}

.aaron:hover::before {
  content: "Aaron";
  color: white;
}

@media screen and (max-width: 960px) {
  .nameBanner {
    margin: 5% 0 0 0;

    font-size: 3rem;
    text-align: center;
  }
}
