/* Styles for the contact form container */
.contactMeForm form {
  padding: 1.5rem 1rem;
  font-size: 1.5rem;
  color: white;
  text-align: center;
  background: radial-gradient(
    ellipse at top,
    var(--dark-gray) 25%,
    #090a0f 90%
  );
  border: 1px solid var(--gold);
  width: 40vw;
  margin: 0 auto;
  min-width: fit-content;
}

/* Styles for the labels */
.contactMeForm label {
  display: block;
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  color: white;
  text-align: left;
}

/* Styles for the input elements */
.contactMeForm input[type="text"],
.contactMeForm input[type="email"],
.contactMeForm textarea {
  padding: 0.5rem;
  font-size: 1.2rem;
  margin-bottom: 1rem;
  border-radius: 5px;
  border: none;
  width: 100%;
  box-sizing: border-box;
  background-color: #f2f2f2;
}

/* Styles for the textarea element */
.contactMeForm textarea {
  height: 150px;
  resize: none;
}

/* Styles for the submit button */
.contactMeForm button {
  width: 270px;
  height: 80px;
  border: none;
  outline: none;
  background: #2f2f2f;
  color: #fff;
  font-size: 22px;
  border-radius: 40px;
  text-align: center;
  box-shadow: 0 6px 20px -5px rgba(0, 0, 0, 0.4);
  position: relative;
  overflow: hidden;
  cursor: pointer;
  font-family: "Dosis", sans-serif;
  font-family: "Shantell Sans", cursive;
}

/* Styles for the button on hover */
.contactMeForm button:active {
  background: var(--gold);
  color: black;
}

@media screen and (max-width: 800px) {
  .contactMeForm form {
    width: 96.5vw;
  }
}
