.contactMeForm form {
  padding: 1.5rem 1rem;
  font-size: 1.5rem;
  color: white;
  text-align: center;
  background: radial-gradient(
    ellipse at top,
    var(--dark-gray) 25%,
    #090a0f 90%
  );
  border: 3px solid var(--gold);
  max-width: 600px;
  margin: 0 auto;
}

.contactMeForm h2 {
  max-width: 600px;
  margin: 10px auto;
}

.contactMeForm label {
  display: block;
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  color: white;
  text-align: left;
}

.contactMeForm input[type="text"],
.contactMeForm input[type="email"],
.contactMeForm textarea {
  padding: 0.5rem;
  font-size: 1.2rem;
  margin-bottom: 1rem;
  border-radius: 5px;
  border: none;
  width: 100%;
  box-sizing: border-box;
  background-color: #f2f2f2;
}

.contactMeForm textarea {
  height: 150px;
  resize: none;
}

.contactMeForm button {
  padding: 1rem;
  background-image: radial-gradient(white, var(--gold));
  color: black;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.2rem;
  margin-top: 1rem;
}

.contactMeForm button:hover {
  background-image: radial-gradient(black, white);
}
