:root {

  --gold: #645037;
  --dark-gray: #181818;

}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  background-image: url(resources/background1.avif);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-family: "Semibold", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Courier New", monospace;
}

h2 {
  padding: 10px;
  color: black;
  box-sizing: border-box;
  background-image: radial-gradient(white, var(--gold));
  font-size: 4rem;
  border: 3px solid black;
  text-align: center;
}

h3{
  font-weight: 700;
  color: white;
  text-shadow: 1.5px 1.5px var(--gold);
}