:root {
  --salmon: rgb(250, 67, 67);
  --gold: #645037;
}

* {
  box-sizing: border-box;
}
body,html {
  font-family: "Semibold";
}
body {
  display: block;
  min-height: 100vh;
  height: 100%;
  margin: 0;
  padding: 0;
  background: radial-gradient(gray, black);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Semibold" "Helvetica Neue";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
