.aboutMe {
  font-family: "Semibold";
  text-align: center;
  margin: 3rem 0 0 27% ;
  width: 60%;
}

.aboutMe h2 {
  padding: 10px;
  color: black;
  box-sizing: border-box;
  background-image: radial-gradient(white, var(--gold));
  font-size: 4rem;
  border: 3px solid black;
}

.aboutMe p {
  white-space: inherit;
  padding: 1.5rem 1rem;
  font-size: 20px;
  color: white;
  background-color: var(--dark-gray);
  border: 3px solid var(--gold);
}

@media screen and (max-width: 800px) {
  .aboutMe {
    width: 95%;
    margin: 3rem auto;
  }
}
