.aboutMe {
  font-family: "Semibold";
  text-align: center;
  margin: 3rem 0 0 27% ;
  width: 60%;
}



.aboutMe p {
  white-space: inherit;
  padding: 1.5rem 1rem;
  font-size: 20px;
  color: white;
  background-color: var(--dark-gray);
  border: 3px solid var(--gold);
}

@media screen and (max-width: 800px) {
  .aboutMe {
    width: 95%;
    margin: 3rem auto;
  }
}
