.aboutMe {
  font-family: "Semibold";
  text-align: center;
  padding: 5%;
  opacity: 0.85;
}

.aboutMe h2 {
  padding: 10px;
  color: black;
  box-sizing: border-box;

  border-radius: 7%;

  background-image: radial-gradient(white, var(--gold));
  font-size: 4rem;
}

.aboutMe p {
  opacity: 0.8;
  padding: 1.5rem 1rem;
  font-size: 20px;
  color: white;
  background-color: black;
}
.resume {
  margin-top: 1rem;
  font-size: 1.2rem;
  color: var(--salmon);
}
